@font-face {
    font-family: 'Antic Slab';
    src: url('AnticSlab.woff2') format('woff2'),
        url('AnticSlab.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('Alegreya-Regular.woff2') format('woff2'),
        url('Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

